apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 3
  selector:
    matchLabels:
      app: solar-system
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
    spec:
      nodeSelector:
        env: worker-node-2
      containers:
      - image: siddharth67/solar-system:v6
        name: solar-system
        imagePullPolicy: Always
        ports: 
        - containerPort: 80
